<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ status_code }}</title>
</head>
<body>
    <div>
        <h1>{{ status_code }}</h1>
        <span>{{ message }}</span>
    </div>
</body>
</html>